@charset 'UTF-8';

@import 'reset';
@import 'fonts';
@import 'variables';
@import 'mixins';

@import 'blocks/top';
@import 'blocks/menu';
@import 'blocks/icons';
@import 'blocks/slider';
@import 'blocks/video-right';
@import 'blocks/video-left';
@import 'blocks/offers';
@import 'blocks/employee';
@import 'blocks/counts';
@import 'blocks/links';
@import "blocks/arrow-up";

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: 0;
}

.container {
    @include min-max(320px, 100%, 0);
}

.wrap {
    @include min-max(320px, 1200px, 15px);
}

p {
    color: $black;
}