@mixin  min-max($min-width, $max-width, $padding) {
    min-width: $min-width;
    max-width: $max-width;
    padding: 0 $padding;
    box-sizing: border-box;
    margin: 0 auto;
}

@mixin btn($bg: none, $fs: 21px, $lh: 1.2, $ls: 0.54px, $br: 0px, $bc:$white, $w: 180px, $clr: $white) {
    width: $w;
    color: $clr;
    font-size: $fs;
    line-height: $lh;
    letter-spacing: $ls;
    background-color: $bg;
    border: 2px solid $bc;
    border-radius: $br;
    padding: 20px 0;
    display: block;
    text-align: center;
    margin: 25px 0;
    text-decoration: none;
    @content;

    &:hover {
        background-color: $background-slider-bt;
        border-color: $background-slider-bt;
      }
    
}
  